<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css (title='Films')"/>
</head>
<body>
<div th:replace="fragments/header :: header-nav"/>

<div class="container bg-light shadow-lg mt-5">
    <h4 class="display-4 text-center">Editer un centre</h4>
    <form action="#"
          enctype="multipart/form-data"
          method="post"
          th:action="@{/traitement}"
          th:name="centre"
          th:object="${centreDTO}">

        <input th:value="${id}" th:type="hidden" th:name="id">

        <div class="mb-3">
            <label  class="form-label">Nom centre</label>
            <input class="form-control" th:field="*{nomCentre}" > <br/>
            <span th:if="${#fields.hasErrors('nomCentre')}"th:errors="*{nomCentre}"></span>

        </div>
        <div class="mb-3">
            <label class="form-label">Adresse centre</label>
            <input class="form-control" th:field="*{adresseCentre}" type="text"><br/>
        </div>
        <div class="mb-3">
            <label class="form-label">Cp</label>
            <input class="form-control" th:field="*{codesPostal}" type="text"><br/>
        </div>
        <div class="mb-3">
            <label class="form-label">Ville</label>
            <input class="form-control" th:field="*{ville}" type="text"><br/>
        </div>
        <div class="col-2">
            <!--        <select class="form-select" aria-label="Default select example"  >-->
            <!--            <option  selected>Date de debut</option>-->
            <!--            <option value="1"th:each="sessiongretas: ${sessions}" th:text="${sessiongretas.dateDebut}"></option>-->
            <!--                    </select>-->



<!--                    <select class="form-select" aria-label="Default select example"  >-->
<!--                        <option  selected>Nom formation</option>-->
<!--                        <option value="1"th:each="formationgretas: ${formations}" th:text="${}"></option>-->


<!--                    </select>-->

        </div>
        <div class="d-flex justify-content-center mb-4 mt-2 pb-4">
            <button type="submit" class="btn btn-primary shadow-primary mt-4">Update Centre</button>
        </div>

    </form>
</div>


<div th:replace="fragments/footer:: footer"/>
</body>
</html>

</html>