<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header-nav"/>
<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h4 class="display-4 text-center">Ajouter une activité</h4>
            <div class="col-md-12" align="center">
                <br />
                <div th:if="${successMsg}" class="alert alert-success col-md-8" role="alert">
                    <p  th:text="${successMsg}" />
                </div>
            </div>
            <form action="#"
                  enctype="multipart/form-data"
                  method="post"
                  th:action="@{/listactivites}"
                  th:object="${activiteDTO}"
                    name="activite">

                <div class="mb-3">
                    <label  class="form-label">Nom activité</label>
                    <input class="form-control" th:field="*{activitesTypes}" type="text" th:name="activitesTypes"><br/>
                </div>
                <div class="mb-5">
                    <span class="alert alert-danger" th:if="${#fields.hasErrors('activitesTypes')}"th:errors="*{activitesTypes}"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Num ordre</label>
                    <input class="form-control" th:field="*{numOrdre}" type="text" th:name="numOrdre"><br/>
                </div>
                <div class="mb-5">
                    <span class="alert alert-danger" th:if="${#fields.hasErrors('numOrdre')}"th:errors="*{numOrdre}"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Reac</label>
                    <input class="form-control" th:field="*{reac}" type="text" th:name="reac"><br/>
                </div>

                <select class="form-select mb-3" aria-label="Default select example"  >
                    <option  selected>Compétence 1</option>
                    <option value="1"th:each="activites: ${competence}" th:text="${activites.nom}"></option>
                </select>
                <select class="form-select mb-3" aria-label="Default select example"  >
                    <option  selected>Compétence 2</option>
                    <option value="1"th:each="activites: ${competence}" th:text="${activites.nom}"></option>
                </select>


                <button type="submit" class="btn btn-primary">Enregistrer Activité</button>
            </form><hr><br>
            <div class="mb-5">
                <h4 class="display-4 text-center">Activités</h4>
            </div>

            <table class="table table-striped">

                <thead>
                <tr>
                    <th scope="col">Activité Id</th>
                    <th scope="col">Type d'activité</th>
                    <th scope="col">Num ordre</th>
                    <th scope="col">Compétences</th>
                    <th scope="col">Reac num</th>
                    <th scope="col">Actions</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="uneActivite: ${activites}">
                    <td th:utext="${uneActivite.id}"></td>
                    <td th:utext="${uneActivite.activitesTypes}"></td>
                    <td th:utext="${uneActivite.numOrdre}"></td>
                    <td><a href="#" th:href="@{'/show/'+${uneActivite.id}}" class="btn btn-primary">Detail</a>
                        <a href="#" th:href="@{'/activites/edit/'+${uneActivite.id}}" class="btn btn-warning">Edit</a>
                        <a href="#" th:href="@{'/activites/supr/'+${uneActivite.id}}" class="btn btn-danger">Suprimmer</a>
                    </td>

                </tr>

                </tbody>

            </table>
            <hr/>


<!--            <select class="form-select" aria-label="Default select example"  >-->
<!--                <option  selected>Num reac</option>-->
<!--                <option value="1"th:each="unReac: ${reacs}" th:text="${unReac.id}"></option>-->


<!--            </select>-->
        </div>
    </div>
</main>

<div th:replace="fragments/footer.html :: footer"/>

</body>
</html>
