    <html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css (title='Films')"/>
</head>
<body>
<div th:replace="fragments/header :: header-nav"/>
<div class="container bg-light shadow-lg mt-5">
    <div class="mb-3 mt-5">
    </div>

    <h4 class="display-4 text-center mb-4" >Editer un Reac</h4>

    <form action="#"
          enctype="multipart/form-data"
          method="post"
          th:action="@{/Coordinateur/traitementReac}"
          th:name="reacupdate"
          th:object="${reactDTO}">

        <input th:value="${id}" th:type="hidden" th:name="id">

        <div class="mb-3">
            <label  class="form-label">Lien reac</label>
            <input class="form-control" th:field="*{lien}" type="text"><br/>

        </div>
        <div class="mb-3">
            <label  class="form-label">Duree</label>
            <input class="form-control" th:field="*{duree}" type="number"><br/>

        </div>
        <div class="mb-3">
            <label class="form-label">Date debut</label>
            <input class="form-control" th:field="*{dateDebut}" type="date"><br/>
        </div>
    <!--    <select class="form-select" aria-label="Default select example" name="activite">-->
    <!--        <option selected>Open this select menu</option>-->
    <!--        <option th:each="uneActivite :${activites}"-->
    <!--                th:text="${uneActivite.activitesTypes}"-->
    <!--                th:name="${uneActivite.id}"-->
    <!--                th:value="${uneActivite.id}">-->

    <!--        </option>-->
    <!--        <select/><br>-->
    <div class="d-flex justify-content-center mb-4 mt-2 pb-4">
        <button type="submit" class="btn btn-primary shadow-primary mt-4">Update Reac</button>
    </div>

    </form>
</div>
<div th:replace="fragments/footer:: footer"/>
</body>
</html>

</html>