<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header-nav"/>
<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h4 class="display-4 text-center">Ajouter une Seance</h4>
            <div class="col-md-12" align="center">
                <br />
                <div th:if="${successMsg}" class="alert alert-success col-md-8" role="alert">
                    <p  th:text="${successMsg}" />
                </div>
            </div>
            <form enctype="multipart/form-data"
                  method="post"
                  th:action="@{/addseance}"
                  th:object="${seanceDTO}" name="seances">

                <div class="mb-3">
                    <label  class="form-label">Date du jour</label>
                    <input  th:field="*{dateDuJour}" class="form-control" th:name="dateDuJour" type="date">
                </div>
                <div class="mb-5">
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('dateDuJour')}"th:errors="*{dateDuJour}"></p>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Duree</label>
                    <input  th:field="*{duree}" class="form-control" th:name="duree">
                </div>
                <div class="mb-5">
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('duree')}"th:errors="*{duree}"></p>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Nom support</label>
                    <input  th:field="*{supportUse}" class="form-control" th:name="supportUse">
                </div>
                <div class="mb-5">
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('supportUse')}"th:errors="*{supportUse}"></p>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Déroulement</label>
                    <input  th:field="*{deroulement}" class="form-control" th:name="deroulement">
                </div>
                <div class="mb-5">
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('deroulement')}"th:errors="*{deroulement}"></p>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Objectif pédagogique</label>
                    <input  th:field="*{objectifPeda}" class="form-control" th:name="objectifPeda">
                </div>
                <div class="mb-5">
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('objectifPeda')}"th:errors="*{objectifPeda}"></p>
                </div>
                <!--        <div class="mb-3">-->
                <!--            <label for="exampleInputPassword1" class="form-label">Password</label>-->
                <!--            <input type="password" class="form-control" id="exampleInputPassword1">-->
                <!--        </div>-->
                <button type="submit" class="btn btn-primary" th:href="@{'/seance/list'}">Enregistrer seance</button><br><hr>
            </form>
            <div class="mb-5">
                <h4 class="display-4 text-center">Seances</h4>
            </div>
            <table class="table table-striped">

                <thead>
                <tr>
                    <th scope="col">Seance Id</th>
                    <th scope="col">Seance Nom</th>
                    <th scope="col">Seance Deroulement</th>
                    <th scope="col">Seance Duree</th>
                    <th scope="col">Seance Objectif</th>
                    <th scope="col">Seance Session</th>
                    <th scope="col">Seance Formateur</th>
                    <th scope="col">Actions</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="uneSeance: ${seancegretas}">
                    <td><span th:utext="${uneSeance.id}"></span></td>
                    <td><span th:utext="${#dates.format(uneSeance.dateDuJour,'dd-MM-yyyy')}"></span></td>
                    <td><span th:utext="${uneSeance.supportUse}"></span></td>
                    <td><span th:utext="${uneSeance.deroulement}"></span></td>
                    <td><span th:utext="${uneSeance.duree}"></span></td>
                    <td><span th:utext="${uneSeance.objectifPeda}"></span></td>
                    <td><span th:utext="${uneSeance.session.id}"></span></td>
                    <td><span th:utext="${uneSeance.formateur.nom}"></span></td>





                    <td><a href="#" th:href="@{'/show/'+${uneSeance.id}}" class="btn btn-primary">Detail</a>
                        <a href="#" th:href="@{'/seance/edit/'+${uneSeance.id}}" class="btn btn-warning">Edit</a>
                        <a href="#" th:href="@{'/seance/supr/'+${uneSeance.id}}" class="btn btn-danger">Suprimmer</a>
                    </td>

                </tr>

                </tbody>

            </table>
            <hr/>

        </div>
    </div>
</main>

<div th:replace="fragments/footer.html :: footer"/>

</body>
</html>
