<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css (title='Films')"/>
</head>
<body>
<div th:replace="fragments/header :: header-nav"/>
<div class="shadow-lg container mb-5 bg-light">
    <h4 class="display-4 text-center mb-4" >Editer une Compétance</h4>
    <form action="#"
          enctype="multipart/form-data"
          method="post"
          th:action="@{/Coordinateur/updateCompetence}"
          th:name="competenceupdate"
    th:object="${competenceDTO}">

        <input th:value="${id}" th:type="hidden" th:name="id">

        <div class="mb-3">
            <label  class="form-label">Nom compétence</label>
            <input class="form-control" th:field="*{nom}" type="text"><br/>

        </div>
        <div class="mb-3">
            <label  class="form-label">Num compétence</label>
            <input class="form-control" th:field="*{numFicheCompetence}" type="number"><br/>

        </div>
        <br>

            <div class="d-flex justify-content-center mb-4 mt-2 pb-4">
                <button type="submit" class="btn btn-primary shadow-primary mt-4">Update Compétance</button>
            </div>
    </form>
</div>
<div th:replace="fragments/footer:: footer"/>
</body>
</html>

</html>