<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header-nav"/>
<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h4 class="display-4 text-center">Ajouter une compétence</h4>
            <div class="col-md-12" align="center">
                <br />
                <div th:if="${successMsg}" class="alert alert-success col-md-8" role="alert">
                    <p  th:text="${successMsg}" />
                </div>
            </div>
            <form action="#"
                  enctype="multipart/form-data"
                  method="post"
                  th:action="@{/Coordinateur/addCompetence}"
                  th:object="${competenceDTO}"
                   name="competence">
                <div class="row p-2 my-2">
                    <div class="col-auto">
                        <input th:field="*{nom}" class="form-control" th:name="nom">
                    </div>
                    <div class="mb-5">
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('nom')}"th:errors="*{nom}">Le type de formation est invalide</p>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{numFicheCompetence}" class="form-control" th:name="numFicheCompetence">
                    </div>
                    <div class="mb-5">
                        <p class="alert alert-danger" th:if="${#fields.hasErrors('numFicheCompetence')}"th:errors="*{numFicheCompetence}">Le type de formation est invalide</p>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" aria-label="Default select example" name="activite">
                            <option selected>Activite nom</option>
                            <option th:each="uneActivite :${activites}"
                                    th:text="${uneActivite.activitesTypes}"
                                    th:name="${uneActivite.id}"
                                    th:value="${uneActivite.id}">
                            </option>
                            <select/>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" aria-label="Default select example" name="seance" type="number">
                            <option selected>Seance id</option>

                            <select/>
                    </div>
                    <div class="col-auto">
                        <select class="form-select" aria-label="Default select example" name="seance">
                            <option selected>Seance nom</option>
                            <option th:each="uneSeance :${seances}"
                                    th:text="${uneSeance.deroulement}"
                                    th:name="${uneSeance.id}"
                                    th:value="${uneSeance.id}">
                            </option>
                            <select/>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Enregistrer Compétence</button>
                    </div>


                </div>
            </form>

            <hr>
            <div class="mb-5">
                <h4 class="display-4 text-center">Compétences</h4>
            </div>

            <table class="table table-striped">

                <thead>
                <tr>
                    <th scope="col">Competence Id</th>
                    <th scope="col">Nom competence</th>
                    <th scope="col">Num fiche de la competence</th>
<!--                    <th scope="col">Activites</th>-->
                    <th scope="col">Déroulement seance</th>
                    <th scope="col">Id seance</th>
                    <th scope="col">Actions</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="uneCompetence: ${competences}">
                    <td th:text="${uneCompetence.id}"></td>
                    <td th:text="${uneCompetence.nom}"></td>
                    <td th:text="${uneCompetence.numFicheCompetence}"></td>
<!--                    <td th:text="${uneCompetence.activite.activitesTypes}"></td>-->
                    <td  th:each="uneSeance: ${seances}"th:text="${uneSeance.deroulement}"></td>
                    <td  th:each="uneSeance: ${seances}"th:text="${uneSeance.id}"></td>
                    <td>
                        <a href="#" th:href="@{'Competences/edit/'+${uneCompetence.id}}"
                           class="btn btn-warning">Modifier</a>
                        <a href="#" th:href="@{'Competences/'+${uneCompetence.id}}"
                           class="btn btn-danger">Suprimmer</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr/>
        </div>
    </div>
</main>

<div th:replace="fragments/footer.html :: footer"/>

</body>
</html>
