<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css (title='Films')"/>
</head>
<body>
<div th:replace="fragments/header :: header-nav"/>

<main class="container">
    <div class="row">
        <h1>Bienvenue dans la plateforme suivi des formations</h1>
        <div class=" d-flex justify-content-center">
    </div>
    </div>
    <div class="d-flex justify-content-between">
        <h1>Vous êtes : <a class="btn btn-primary" href="acceuilcoordinateur" type="submit">Coordinateur</a>
            <a class="btn btn-primary ml-2" href="acceuilformateur" type="submit">Formateur</a> </h1>
    </div>

    <!--<p th:text="'Note du premier film : ' + ${films[0].note}"></p>-->
    <!--<img th:src="@{'images/affiches/' + 'f0006.jpg'}" height="200" width="142">-->
</main>

<div th:replace="fragments/footer:: footer"/>
</body>
</html>

</html>