<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header-nav"/>
<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h4 class="display-4 text-center">Ajouter une formation</h4>
            <a th:href="@{/formation/export/excel}" class="btn btn-primary">Export to Excel</a>
            <div class="col-md-12" align="center">
                <br/>
                <div th:if="${successMsg}" class="alert alert-success col-md-8 " role="alert">

                    <p th:text="${successMsg}"/>
                </div>
            </div>
            <form action="#"
                  enctype="multipart/form-data"
                  method="post"
                  th:action="@{/listformations}"
                  th:object="${formationDTO}" name="formation">

                <div class="mt-5 mb-5">
                    <label class="form-label">Nom Formation</label>
                    <input th:field="*{typeFormation}" class="form-control" th:name="typeFormation">

                </div>
                <div class="mb-5">
                    <ul>
                        <li class="alert alert-danger" th:each="err : ${#fields.errors('typeFormation')}"
                            th:text="${err}"></li>
                    </ul>
                    <!--                     <span class="alert alert-danger" th:if="${#fields.hasErrors('typeFormation')}"th:errors="*{typeFormation}">Le type de formation est invalide</span>-->
                </div>
                <button type="submit" class="btn btn-primary" th:href="@{'/formations/list'}">Enregistrer formation
                </button>
                <br>
                <hr>
            </form>
            <div class="mb-5">
                <h4 class="display-4 text-center">Formations</h4>
            </div>


            <table class="table table-striped">

                <thead>
                <tr>
                    <th scope="col">Formation Id</th>
                    <th scope="col">Formation Nom</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="uneFormation: ${formations}">
                    <td><span th:utext="${uneFormation.id}"></span></td>
                    <td><span th:utext="${uneFormation.typeFormation}"></span></td>
                    <td>
                        <a href="#" th:href="@{'/formations/edit/'+${uneFormation.id}}" class="btn btn-warning">Edit</a>
                        <a href="#" th:href="@{'/formations/supr/'+${uneFormation.id}}"
                           class="btn btn-danger">Suprimmer</a>
                    </td>
                </tr>
                </tbody>
            </table>


            <hr/>

        </div>
    </div>
</main>

<div th:replace="fragments/footer.html :: footer"/>

</body>
</html>
